<h1>Statistics</h1>
<div class="gameMenu"> <%= link_to "Return to Game", games_index_path %> </div>
<div><table>
  <tr><th>Player Wins</th><th>Computer Wins</th></tr>
  <tr><td class=playerWins></td><td class=computerWins></td></tr>
  <tr><td class=playerWinsPercent></td><td class=computerWinsPercent></td></tr>
</table></div>
<div><table>
  <tr><th>Hands</th><th>Number of Occurances</th><th>Percentage of Occurances</th><th>Percentage of Times Hand is a Winner</th></tr>
  <tr><td>Royal Flush</td><td class=royalFlushNumber></td><td class=royalFlushPer></td><td class=royalFlushPerWin></td></tr>
  <tr><td>Straight Flush</td><td class=straightFlushNumber></td><td class=straightFlushPer></td><td class=straightFlushPerWin></td></tr>
  <tr><td>Four of a Kind</td><td class=fourKindNumber></td><td class=fourKindPer></td><td class=fourKindPerWin></td></tr>
  <tr><td>Full House</td><td class=fullHouseNumber></td><td class=fullHousePer></td><td class=fullHousePerWin></td></tr>
  <tr><td>Flush</td><td class=flushNumber></td><td class=flushPer></td><td class=flushPerWin></td></tr>
  <tr><td>Straight</td><td class=straightNumber></td><td class=straightPer></td><td class=straightPerWin></td></tr>
  <tr><td>Three of a Kind</td><td class=threeKindNumber></td><td class=threeKindPer></td><td class=threeKindPerWin></td></tr>
  <tr><td>Two Pairs</td><td class=twoPairNumber></td><td class=twoPairPer></td><td class=twoPairPerWin></td></tr>
  <tr><td>One Pair</td><td class=onePairNumber></td><td class=onePairPer></td><td class=onePairPerWin></td></tr>
  <tr><td>Nothing</td><td class=nothingNumber></td><td class=nothingPer></td><td class=nothingPerWin></td></tr>
</table></div>
<div></div>
