// Place all the styles related to the pokerHelp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button.example{
 font-size: 16px;
 margin: 5px;
 padding: 2px;
}
